
body{
    font-family: ubuntu, Arial, Helvetica, sans-serif;
}
.items {
    background-color: black;
    height: 80px;
    display: flex;
    width: 99%;
    position: absolute;
    top:0.2px;
}
.items a{
    color: white;
    text-decoration: none;
}
.user-section {
    color: white;
    height: 290px;
    background-color:rgb(52, 51, 51);
    text-align: center;
    padding:4%;
}
.user-generator{
    font-size: 35px;
}
.user-email{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-top: 1.3%;
    color: rgb(199, 194, 194);
}
.opensource{
    font-size: 18px;
}
.link{
    color: rgb(106, 106, 179);
}
.home{
    margin-top:3%;
    margin-left:19%;
}
.home-image{
    position: absolute;
    margin-left: 19%;
    background:transparent;
}
.user-image{
    position: absolute;
    margin-left: 26%;
}
.user{
    margin-top: 3%;
    padding-left: 2.6%;
}
.document-image{
    position: absolute;
    margin-top: 0.5%;
    margin-left:35%;
}
.documentation{
    padding-left: 2.6%;
    margin-top: 3%;
}
.changelog-image{
    margin-top: 0.5%;
    position: absolute;
    margin-left: 44%;
}
.change-log{

    padding-left: 2.5%;
    margin-top: 3%;
}
.graph-image{
    position: absolute;
    margin-left: 53%;
    margin-top: 0.5%;
}
.garph{
    padding-left: 2.6%;
    margin-top: 3%;
}
.heart-image{
    position: absolute;
    margin-left: 60.5%;
    margin-top: 0.6%;
}
.donate{
    margin-top: 3%;
    padding-left: 2.6%;
}
.copy-image{
    position: absolute;
    margin-left: 69%;
    margin-top: 0.4%;
}
.copy{
    margin-top:3%;
    padding-left: 2.6%;
}
.ps-image{
    position: absolute;
    margin-left: 80%;
    margin-top: 0.5%;
}
.photo{
    margin-top: 3%;
    padding-left: 2.6%;
}
.twit-image{
    position:absolute;
    right: 54.7%;
}
.container {
    height:400px; 
    width: 700px;
    background-color:rgb(255, 255, 255);
     margin:5%  24%;
}
.conatiner-one{
    padding: 23px;
    height:200px; 
    width: 900px;
    background-color:rgb(251, 248, 248);
    box-shadow: 0 0px 5px rgb(208, 211, 209) ;
     margin:3%  14%;
     color: black;

}
.randomApi{
    font-size: 23px;
}
.text-change{
    color: rgb(95, 94, 94);
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
span{
    color: rgb(100, 97, 97);
    font-weight: 800;
}
button{
    background-color: rgb(110, 179, 7);
    width: 15%;
    border: none;
    color: white;
    padding: 10px;
}